@import url(https://fonts.googleapis.com/css?family=Lato);html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

[v-cloak] {
  display: none;
}

.wrapper,
.row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.wrapper:before,
.wrapper:after,
.column:before,
.column:after {
  content: "";
  display: table;
}

.wrapper:after,
.column:after {
  clear: both;
}

#sidebar {
  background-color: #eee;
  padding-left: 0;
  float: left;
  min-height: 100%;
}

#sidebar .collapse.in {
  display: inline;
}



#sidebar > .nav > li > a {
  white-space: nowrap;
  overflow: hidden;
}

#main {
  padding: 15px;
  left: 0;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */

@media screen and (max-width: 768px) {
  #sidebar {
    min-width: 44px;
  }

  #main {
    width: 1%;
    left: 0;
  }

  #sidebar .visible-xs {
    display: inline !important;
  }

  .row-offcanvas {
    position: relative;
    transition: all 0.4s ease-in-out;
  }

  .row-offcanvas-left.active {
    left: 45%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -45%;
    position: absolute;
    top: 0;
    width: 45%;
  }
}

@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width: 42px;
  }

  #main {
    left: 0;
  }
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login-overlay {
  width: 100%;
  height: 300px;
  background-color: #00AEEF;
  border-left: 150px solid #FFF;
  border-bottom: 300px solid transparent;
}

.login-overlay h5 {
  font-size: 1.1em;
  line-height: 1.4;
}

.login-overlay h5 b {
  font-size: 1.5em;
}

.cta-bg-primary {
  background-color: #535D95 !important;
}

.cta-bg-secondary {
  background-color: #00AEEF !important;
}

.user-panel {
  height: 180px;
}

.user-panel .image {
  margin-left: auto;
  margin-right: auto;
}

.custom-btn {
  border-radius: 100px !important;
  font-size: 0.9em;
  font-weight: bold;
}

.info {
  text-align: left !important;
}

.custom-panel {
  background-color: #e3e3e3;
  height: 600px;
}

.custom-panel ul {
  width: 100%;
  margin: 0 auto !important;
}

.custom-panel ul li {
  list-style: none;
  background-color: #00AEEF;
}

.action-btns {
  border: none;
  background-color: inherit;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: inline;
}

.update-form {
  min-height: 600px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.flash-message {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
}

.scrollable {
  height: 400px;
  overflow-y: auto;
  overflow-x: auto;
}

.modal-dialog {
  position: relative;
  display: table !important;
  /* This is important */
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  min-width: 300px;
}

.stock-levels-legend {
  width: 2em;
  height: 0.8em;
  margin: 10px 10px 0 0;
}

.stock-levels-legend-text {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: -6px;
}

.nav-item-dimensions {
  width: 20px;
  height: 20px;
}

