@import url(https://fonts.googleapis.com/css?family=Lato);html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

mar

.card-body p{
  font-size: 1.1em;
}

[v-cloak] {
  display: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.btn,
.form-control {
  border-radius: 0;
}

.btn {
  min-width: 130px;
}

.navbar-toggler {
  border-radius: 0;
  font-size: 0.8em;
}

.view-more-btn a:hover {
  background-color: #e3e3e3;
}

.cta-bg-primary {
  background-color: #535D95 !important;
}

.cta-bg-secondary {
  background-color: #00AEEF !important;
}

.contact-info {
  display: table;
}

.contact-info ul {
  list-style: none;
  display: table-cell;
  align-content: center;
}

.contact-info ul li {
  display: inline;
}

@media (max-width: 767.9px) {
  .contact-info ul li {
    text-align: center;
    font-size: 0.7em;
  }
}

.slider {
  height: auto;
  width: 100%;
}

@media (max-width: 767.9px) {
  .slider {
    height: 200px;
  }
}

@media (max-width: 767.9px) {
  .slider img {
    height: 170px;
  }
}

.section {
  margin-top: 70px;
}

.partners {
  height: 100px;
  width: 100px;
}

@media (max-width: 767.9px) {
  .partners {
    height: 100%;
  }
}

.partners img {
  height: 100px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.section-title {
  font-weight: 800;
}

.sub-about-text {
  font-size: 1.2em;
  font-weight: 400;
}

.about-text {
  font-size: 0.9em;
  line-height: 1.5;
}

.product-name {
  font-size: 0.7em;
}

.banner {
  width: 100%;
  height: 400px;
  position: relative;
}

@media (max-width: 767.9px) {
  .banner {
    height: 300px;
  }
}

.banner .banner-overlay {
  position: absolute;
  background-color: #00AEEF;
  opacity: 0.2;
  top: 0;
  width: 100% !important;
  height: 100%;
}

.commitments {
  height: 200px;
  position: relative;
  background-color: #EBEEEF;
  margin-top: 100px;
}

@media (max-width: 767.9px) {
  .commitments {
    height: 100%;
    text-align: center;
  }
}

@media (max-width: 991.9px) {
  .commitments {
    height: 100%;
  }
}

.commitments .commitment-text {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
}

.commitments .commitment-title {
  width: 100%;
  height: 200px;
  background: #00AEEF;
  color: #fff;
  border-left: 200px solid #EBEEEF;
  border-bottom: 200px solid transparent;
}

@media (max-width: 767.9px) {
  .commitments .commitment-title {
    height: 80px;
    width: 100%;
    border-left: 200px solid #EBEEEF;
    border-bottom: 200px solid transparent;
  }
}

@media (max-width: 991.9px) {
  .commitments .commitment-title {
    height: 100px;
    text-align: center;
    border-left: 100px solid #EBEEEF;
    border-bottom: 200px solid transparent;
  }
}

.ml6 .text-wrapper {
  position: relative;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.circle {
  background-color: #333467;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.circle img {
  width: 50px;
  height: 26px;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.product-items {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
}

@media (max-width: 991.9px) {
  .product-items {
    margin-right: auto;
    margin-left: auto;
  }
}

.product-images {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.product-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.product-items:hover .product-images {
  opacity: 0.3;
}

.product-items:hover .product-overlay {
  opacity: 1;
}

.product-overlay-text {
  background-color: #00AEEF;
  color: white;
  font-size: 1em;
  padding: 8px 16px;
}

.product-overlay-text a {
  text-decoration: none;
  color: #fff;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.after-sales-image {
  height: 50px;
  width: 50px;
}

.after-sales-title {
  font-weight: 600;
  font-size: 0.9em;
}

.after-sales-text {
  font-size: 0.8em;
  width: 50%;
}

.staff-pics {
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.staff-title {
  font-weight: 600;
  font-size: 1em;
}

.staff-role {
  font-size: 0.9em;
}

.map + footer {
  margin: 0;
  padding: 0;
}

footer {
  height: auto;
  background-color: black;
  /*opacity: 0.8;*/
  /*margin-top: 150px;*/
}

@media (max-width: 767.9px) {
  footer {
    height: 100%;
  }
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 600;
}

footer ul li a:hover {
  color: #fff;
  text-decoration: none;
}

footer .footer-contact {
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.8;
}

footer .copyright-text {
  font-size: 0.8em;
  font-weight: 600;
}

footer .footer-logo {
  width: 150px;
  height: 140px;
}

